[*.{kt,kts}]
ktlint_standard_multiline-if-else = disabled # Disables the `multiline-if-else` rule in the `standard` rule set provided by KtLint
# trailing commas everywhere!!!
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
